// abstracts
@use 'abstracts/variables' as *;
@use 'abstracts/mixins' as *;

// base
@use 'base/reset';
@use 'base/typography';
// @use 'base/global';

// layout
@use 'layout/header';
@use 'layout/footer';

// pages
@use 'pages/home';
@use 'pages/services';
@use 'pages/contact-us';
@use 'pages/careers';
@use 'pages/job-details';
@use 'pages/job-apply';
@use 'pages/about-us';

////////////// Colors /////////////
.primary-color {
    color: $primary-color !important;
}
.secondary-color {
    color: $secondary-color !important;
}
////////////// Buttons /////////////
.custom-btn {
    @include flex($justify: center, $wrap: nowrap);
    border-radius: 8px;
    padding: 12px 20px;
    font-weight: 500;
    font-size: $size-sm;
    border: none;
    cursor: pointer;
    text-decoration: none;
    user-select: none;
    white-space: nowrap;

    &:focus-visible {
        outline: none;
    }
}
.btn-primary {
    @include button-variant($primary-color, $white, $hover-bg: $secondary-color);
}
.btn-secondary {
    @include button-variant($secondary-color, $white, $hover-opacity: 0.85);
}
////////////// Spacing Classes ///////////
.gap-sm {
  gap: $spacing-sm;
}
.gap-md {
  gap: $spacing-md;
}
////////////// Main Classes /////////////
.w-img {
    width: 100%;
    max-height: 100%;
    height: auto;
}
.h-img {
    height: 100%;
    max-width: 100%;
    width: auto;
}
.full-img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.custom-card {
    padding: 12px;
    border-radius: 24px;
    background: #FFF;
    box-shadow: 0 16px 80px -10px rgba(80, 45, 22, 0.16);
    transition: $transition-base;
    @include flex($direction: column, $wrap: nowrap, $gap: 10px);
    .card-title {
        font-size: $size-md;
        font-weight: 600;
    }
    .card-description {
        font-size: $size-xs;
        font-weight: 500;
        color: $desc-color;
    }
    .solution-pill {
        padding: 11px 20px;
        @include flex($gap: 6px);
        border-radius: 12px;
        width: 100%;
        text-decoration: none;
        font-weight: 500;
        font-size: $size-sm;
    }

    &--sm {
        border-radius: 16px;
        padding: 2rem;
        &:hover {
            transform: none;
        }
    }
}
.main_sevices_managment {
    align-items: end;
   .grid_img {
     @include flex($justify: center);  
     max-height: 550px;
   }
   .badge-pill {
    background: rgba($primary-color, 0.05) !important;
    box-shadow: 0 1px 1px -0.5px rgba(0, 0, 0, 0.04), 0 3px 3px -1.5px rgba(0, 0, 0, 0.04), 0 24px 24px -12px rgba(0, 0, 0, 0.04);
   }
}
//////////// Grid System ///////////
.grid-2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(47%, 1fr));
    gap: 1rem;
}

.grid-3 {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
}
.grid-4 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(23%, 1fr));
    gap: 10px;
}
.grid-5 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15%, 1fr));
    gap: 10px;
}
.full-width {
  grid-column: 1 / -1;
}

////////////// Main Text /////////////
.description {
    font-size: $size-sm;
    font-weight: 500;
    color: $desc-color;
}
%text-block-base {
    max-width: 1000px;
    margin-bottom: 2rem;
    @include flex($direction: column, $gap: 1.1rem);
    
    .badge-pill {
        @include badge-pill;
    }
    .main_title {
        color: $secondary-color;
        font-weight: 600;
    }
    .subtitle-orange {
        color: $primary-color;
        display: block;
    }
    .main_desc {
        font-weight: 500;
        color: $desc-color;
    }
}
.main-text {
    @extend %text-block-base;
    @include flex($direction: column, $justify: center, $gap: 1.1rem);
    text-align: center;
    margin-inline: auto;

    .main_title {
        font-size: $size-xxl;
    }
    .main_desc {
        font-size: $size-md;
    }
}
.secondary-main-text {
    @extend %text-block-base;
    align-items: flex-start;
    text-align: start;
    margin-inline: 0;

    .main_title {
        font-size: $size-xl;
    }
    .main_desc {
        font-size: $size-sm;
    }
}
.small_main_text {
    margin: 0;
    text-align: start;
    @include flex($direction: column, $gap: 1rem, $wrap: nowrap,$align: start);
        .badge-pill {
            @include badge-pill;
            font-size: $size-xs;
        }
        .main_title {
            color: $secondary-color;
            font-size: 36px;
            font-weight: 700;
        }
        .description {
            font-size: $size-xs;
            color: $desc-color;
            font-weight: 500;
        }
}
.main_page_header {
    position: relative;
    video {
        max-height: 100vh;
    }
    .main-text {
        padding-top: 120px;
        padding-inline: $main-inline-padding;
        text-align: start;
        margin: 0;
        align-items: start;
        position: absolute;
        inset-inline-start: 0;
        inset-block-end: 10%;
    }
    .main_title {
        font-size: clamp(20px, 3vw, 32px);
    }
    .subtitle-orange {
        font-size: clamp(24px, 5vw, 40px);
        margin-top: 5px;
    }
}
// Input Field
.input-wrapper {
    position: relative;
    max-width: 700px;
    width: 100%;
    background: white;
    border-radius: 16px !important;
    padding: 6px 20px;
    padding-inline-end: 8px;
    box-shadow: 0 16px 80px -10px rgba(80, 45, 22, 0.16);
    border: 1px solid #EFEFEF;
    @include flex($justify: flex-start,$wrap:nowrap);
    margin-top: .5rem;
    margin-inline: auto;

    input {
        flex: 1;
        border: none;
        background: transparent;
        font-size: 18px;
        outline: none;
        &::placeholder { color: #aaa; }
    }
}
.bg-gradient, .bg-gradient-bottom {
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    overflow: hidden;
}
.bg-gradient-bottom { 
    rotate: 180deg; 
}
.gradient-bg { 
    background: linear-gradient(180deg, rgba(244, 110, 38, 0.16) 0%, rgba(255, 255, 255, 0.6) 60%, #ffffff 100%); 
    border-radius: 40px; 
    // padding-block: 4rem; 
    position: relative; 
}

// FAQ
.faq-section {
    margin-block: 5rem 3rem;
    .main_title {
        color: $font-color;
        margin-bottom: 2rem;
    }

    .FAQ_accordion {
        @include flex($direction: column, $gap: 16px); width: 100%;
        .accordion-item {
            border-radius: 16px; 
            width: 100%; 
            border: 1px solid #EFEFEF; 
            background: $light-gray-color; 
            padding: 24px 20px;
            &:has(.accordion-button:not(.collapsed)) { 
                background-color: #fff; 
                .accordion_no { 
                    background-color: $primary-color; 
                    color: #fff; 
                } 
            }
            .accordion-header { 
                @include flex($wrap: nowrap, $gap: 10px); 
            }
            .accordion_no { 
                color: #000; 
                font-size: 16px; 
                font-weight: 500; 
                min-width: 24px; 
                @include flex($justify: center); 
                height: 24px; 
                border-radius: 12px; 
                border: 1px solid #EFEFEF; 
                background: #FFF; 
                box-shadow: 0 1px 1px rgba(0,0,0,0.04);
            }
            .accordion-button { 
                padding: 0; 
                border: 0; 
                box-shadow: none; 
                background-color: transparent; 
                color: #000; 
                font-size: 18px; 
                font-weight: 500; 
                &:focus { border: 0; } 
            }
            .accordion-body { 
                font-size: 18px; 
                color: $desc-color; 
                padding-inline-start: 36px; 
            }
        }
    }
}

/////////////// Media Query ////////////////
@media screen and (max-width: $media-md) {
    .grid-2 { 
        grid-template-columns: 100%; 
    }
    .grid-4 {
        grid-template-columns: repeat(auto-fit, minmax(48%, 1fr));
    }
    .grid-5 {
        grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    }
    $main-inline-padding: clamp(1rem, 3vw, 3rem);
}
@media screen and (max-width: $media-sm) {
    .grid-3 , .grid-4 { 
        grid-template-columns: 100%; 
    }
    .grid-5 {
        grid-template-columns: repeat(auto-fit, minmax(48%, 1fr));
    }
}

// .section-title, footer .footer_title, .main-text .main_title, .secondary-main-text .hero_title {
//     font-size: 40px;
//     font-weight: 600;
//     color: $secondary-color;
// }

// .badge-pill-section, .main-text .badge-pill, .secondary-main-text .badge-pill {
//     @include flex($gap: 6px);
//     padding: 4px 12px;
//     background: $light-primary-color;
//     color: $primary-color;
//     font-size: 16px;
//     font-weight: 500;
//     border-radius: 50px;
//     margin-bottom: 0.3rem;
//     border: 1px solid rgba($primary-color, 0.1);
// }

// .section-desc, footer .footer_desc, .main-text .main_desc, .secondary-main-text .hero_desc {
//     font-size: 16px;
//     font-weight: 500;
//     color: $desc-color;
// }





