// abstracts
@use 'abstracts/variables' as *;
@use 'abstracts/mixins' as *;

// base
@use 'base/reset';
@use 'base/typography';

// layout
@use 'layout/header';
@use 'layout/footer';

// pages
@use 'pages/home';
@use 'pages/services';
@use 'pages/contact-us';
@use 'pages/careers';
@use 'pages/job-details';
@use 'pages/job-apply';
@use 'pages/about-us';

////////////// Colors /////////////
.primary-color {
    color: $primary-color !important;
}
.secondary-color {
    color: $secondary-color !important;
}
////////////// Buttons /////////////
.custom-btn {
    @include flex($justify: center, $wrap: nowrap);
    border-radius: 8px;
    padding: 10px 20px;
    font-weight: 500;
    font-size: $size-sm;
    border: none;
    cursor: pointer;
    text-decoration: none;
    user-select: none;
    white-space: nowrap;

    &:focus-visible {
        outline: none;
    }
}
.btn-primary {
    @include button-variant($primary-color, $white, $hover-bg: $secondary-color);
}
.btn-secondary {
    @include button-variant($secondary-color, $white);
}
.btn-outline-primary {
    @include button-variant($white, $secondary-color);
    border: 1px solid $secondary-color;
}
////////////// Spacing Classes ///////////
.gap-sm {
  gap: $spacing-sm;
}
.gap-md {
  gap: $spacing-md;
}
////////////// Main Classes /////////////
.w-img {
    width: 100%;
    max-height: 100%;
    height: auto;
}
.h-img {
    height: 100%;
    max-width: 100%;
    width: auto;
}
.full-img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.min-btn-width {
    min-width: 150px;
}
.custom-ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.custom-anc {
    text-decoration: none;
}
.custom-card {
    padding: 12px;
    border-radius: 24px;
    background: #FFF;
    box-shadow: 0 16px 80px -10px rgba(80, 45, 22, 0.16);
    transition: $transition-base;
    @include flex($direction: column, $wrap: nowrap, $gap: 10px);
    .card-title {
        font-size: $size-md;
        font-weight: 600;
    }
    .card-description {
        font-size: $size-xs;
        font-weight: 500;
        color: $desc-color;
    }
    .solution-pill {
        padding: 11px 20px;
        @include flex($gap: 6px);
        border-radius: 12px;
        width: 100%;
        text-decoration: none;
        font-weight: 500;
        font-size: $size-sm;
    }

    &--sm {
        border-radius: 16px;
        padding: 1.6rem;
        &:hover {
            transform: none;
        }
    }
}
.main_sevices_managment {
    align-items: end;
   .grid_img {
     @include flex($justify: center, $wrap: nowrap);  
     height: clamp(400px, 75vh, 550px);
   }
   .badge-pill {
    background: rgba($primary-color, 0.05) !important;
    box-shadow: 0 1px 1px -0.5px rgba(0, 0, 0, 0.04), 0 3px 3px -1.5px rgba(0, 0, 0, 0.04), 0 24px 24px -12px rgba(0, 0, 0, 0.04);
   }
}
.form-actions {
        margin-top: 1rem;
        @include flex($justify: flex-end, $gap: 1rem);
}
//////////// Grid System ///////////
.grid-2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
    gap: 1rem;
}
.grid-3 {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
}
.grid-4 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(23%, 1fr));
    gap: 10px;
}
.grid-5 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15%, 1fr));
    gap: 10px;
}
.full-width {
  grid-column: 1 / -1;
}

////////////// Main Text /////////////
.description {
    font-size: $size-sm;
    font-weight: 500;
    color: $desc-color;
}
%text-block-base {
    max-width: 1000px;
    margin-bottom: 2rem;
    @include flex($direction: column, $gap: 1.1rem);
    
    .badge-pill {
        @include badge-pill;
    }
    .main_title {
        color: $secondary-color;
        font-weight: 600;
    }
    .subtitle-orange {
        color: $primary-color;
        display: block;
    }
    .main_desc {
        font-weight: 500;
        color: $desc-color;
    }
}
.main-text {
    @extend %text-block-base;
    @include flex($direction: column, $justify: center, $gap: 1.1rem);
    text-align: center;
    margin-inline: auto;

    .main_title {
        font-size: $size-xxl;
    }
    .main_desc {
        font-size: $size-md;
    }
}
.secondary-main-text {
    @extend %text-block-base;
    align-items: flex-start;
    text-align: start;
    margin-inline: 0;

    .main_title {
        font-size: $size-xl;
    }
    .main_desc {
        font-size: $size-sm;
    }
}
.small_main_text {
    @extend %text-block-base;
    margin: 0;
    text-align: start;
    @include flex($direction: column, $gap: 1rem, $wrap: nowrap,$align: start);
        .badge-pill {
            background-color: rgba($primary-color, 0.03);
            font-size: $size-xs;
            color: $secondary-color;
        }
        .main_title {
            font-size: 36px;
        }
        .description {
            font-size: $size-xs;
            font-weight: 500;
        }
}
.main_page_header {
    position: relative;
    min-height: 260px;
    &:has(video) {
    video {
        max-height: 100vh;
    }
    .main-text {
        position: absolute;
        inset-inline-start: 0;
        inset-block-end: 10%;
        padding-inline: $main-inline-padding;
    }
    }
    .main-text {
        padding-top: 120px;
        text-align: start;
        margin: 0;
        align-items: start;    
    }
    .main_title {
        font-size: clamp(20px, 3vw, 32px);
    }
    .subtitle-orange {
        font-size: clamp(24px, 5vw, 46px);
        margin-top: 5px;
    }
}
// Input Field
.input-wrapper {
    position: relative;
    max-width: 700px;
    width: 100%;
    background: white;
    border-radius: 16px !important;
    padding: 6px 20px;
    padding-inline-end: 8px;
    box-shadow: 0 16px 80px -10px rgba(80, 45, 22, 0.16);
    border: 1px solid #EFEFEF;
    @include flex($justify: flex-start,$wrap:nowrap);
    margin-top: .5rem;
    margin-inline: auto;

    input {
        flex: 1;
        border: none;
        background: transparent;
        font-size: 18px;
        outline: none;
        &::placeholder { color: #aaa; }
    }
}
.bg-gradient, .bg-gradient-bottom {
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    overflow: hidden;
}
.bg-gradient-bottom { 
    rotate: 180deg; 
}
.gradient-bg { 
    background: linear-gradient(180deg, rgba(244, 110, 38, 0.16) 0%, rgba(255, 255, 255, 0.6) 60%, #ffffff 100%); 
    border-radius: 40px; 
    // padding-block: 4rem; 
    position: relative; 
}
// FAQ
.faq-section {
    margin-block: 5rem 3rem;
    .main_title {
        color: $font-color;
        margin-bottom: 2rem;
    }

    .FAQ_accordion {
        @include flex($direction: column, $gap: 16px); width: 100%;
        .accordion-item {
            border-radius: 16px; 
            width: 100%; 
            border: 1px solid #EFEFEF; 
            background: $light-gray-color; 
            padding: 24px 20px;
            &:has(.accordion-button:not(.collapsed)) { 
                background-color: #fff; 
                .accordion_no { 
                    background-color: $primary-color; 
                    color: #fff; 
                } 
            }
            .accordion-header { 
                @include flex($wrap: nowrap, $gap: 10px); 
            }
            .accordion_no { 
                color: #000; 
                font-size: 16px; 
                font-weight: 500; 
                min-width: 24px; 
                @include flex($justify: center); 
                height: 24px; 
                border-radius: 12px; 
                border: 1px solid #EFEFEF; 
                background: #FFF; 
                box-shadow: 0 1px 1px rgba(0,0,0,0.04);
            }
            .accordion-button { 
                padding: 0; 
                border: 0; 
                box-shadow: none; 
                background-color: transparent; 
                color: #000; 
                font-size: 18px; 
                font-weight: 500; 
                &:focus { border: 0; } 
            }
            .accordion-body { 
                font-size: 18px; 
                color: $desc-color; 
                padding-inline-start: 36px; 
            }
        }
    }
}
/////////////// BreadCrumb /////////////////
.breadcrumb_section {
    padding-inline: $main-inline-padding;
     --bs-breadcrumb-divider: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M5.46328 3.60486C5.68162 3.3084 6.09895 3.24507 6.39541 3.46341C6.62569 3.63301 6.84458 3.80264 7.03522 3.95142C7.4158 4.24843 7.92549 4.65731 8.43713 5.10155C8.94546 5.54291 9.47096 6.03226 9.87463 6.48912C10.0758 6.71679 10.2608 6.95209 10.3991 7.18154C10.5264 7.39268 10.6667 7.68281 10.6667 8.00023C10.6667 8.31765 10.5264 8.6078 10.3991 8.81895C10.2608 9.0484 10.0758 9.2837 9.87463 9.51137C9.47096 9.96822 8.94546 10.4576 8.43713 10.8989C7.92549 11.3432 7.4158 11.7521 7.03522 12.0491C6.84458 12.1978 6.62569 12.3675 6.39541 12.5371C6.09895 12.7554 5.68162 12.6921 5.46328 12.3956C5.37551 12.2765 5.33326 12.1377 5.33337 12.0003L5.33337 4.00021C5.33326 3.86274 5.37551 3.72403 5.46328 3.60486Z' fill='%23F05D2A'/%3E%3C/svg%3E");
     --bs-breadcrumb-divider-size: 30px;
     .breadcrumb-item , .breadcrumb-item a {
        @include flex($justify: flex-start, $gap: 6px, $wrap:nowrap);
        font-size: $size-sm;
        font-weight: 500;
        color: $secondary-color;
    }
}
.breadcrumb-item+.breadcrumb-item::before {
    top: 2px;
    position: relative;
    padding: 0px;
}
/////////////// Form Style /////////////////
.custom-form {
    .form-label {
       @extend .custom-label;
        .req-star { color: #ff4d4d; margin-inline-start: 4px; }
    }
.form-control, .form-select , .form-control-custom {
        width: 100%;
        background-color: $light-gray-color;
        border: 1px solid rgba(255, 255, 255, 0.15);
        border-radius: 8px;
        padding: .8rem .8rem;
        font-size: 16px;
        color: $font-color;
        outline: none;
        transition: $transition-base;

        &::placeholder {
            color: #A0A0A0;
            font-size: $size-xs;
            font-weight: 400;
        }

        &:focus {
            background-color: #f2f2f2;
            box-shadow: 0 0 0 1px rgba($secondary-color, 0.5);
        }
    }
    textarea.form-control-custom {
        resize: none;
        height: auto;
    }
}
.upload-area {
    border: 2px dashed $gray-color;
    border-radius: 16px;
    padding: 3rem 2rem;
    @include flex($direction: column, $justify: center, $gap: .8rem);
    background: $light-gray-color;
    cursor: pointer;
    transition: $transition-base;

    &:hover {
        border-color: $primary-color;
        background: rgba($primary-color, 0.02);
    }
    .upload-text {
        font-size: 16px;
        font-weight: 400;
        color: $desc-color;
        span {
            color: $primary-color;
        }
    }
}
.custom-label {
    display: block;
    color: $desc-color;
    font-size: $size-sm;
    font-weight: 500;
    margin-bottom: 0.4rem; 
}

/////////////// Media Query ////////////////
@media screen and (max-width: $media-md) {
    .grid-2 { 
        grid-template-columns: 100%; 
    }
    .grid-4 {
        grid-template-columns: repeat(auto-fit, minmax(48%, 1fr));
    }
    .grid-5 {
        grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    }
    $main-inline-padding: clamp(1rem, 3vw, 3rem);
}
@media screen and (max-width: $media-sm) {
    .grid-3 , .grid-4 { 
        grid-template-columns: 100%; 
    }
    .grid-5 {
        grid-template-columns: repeat(auto-fit, minmax(48%, 1fr));
    }
}





