@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.job-details-page {
    padding-bottom: 5rem;
    .job-header-section {
        @include flex($justify: space-between, $align: center);
        .btn-apply {
            background: $secondary-color;
            color: #fff;
            padding: 14px 36px;
            border-radius: 12px;
            font-weight: 500;
            text-decoration: none;
            transition: $transition-base;
            
            &:hover {
                // background: darken($secondary-color, 5%);
                transform: translateY(-2px);
                box-shadow: 0 10px 20px rgba($secondary-color, 0.2);
            }
        }
    }
    .details-grid {
        display: grid;
        grid-template-columns: 350px 1fr;
        gap: 2rem;
        margin-bottom: 2rem;

        @media (max-width: 991px) {
            grid-template-columns: 1fr;
        }
    }
    .custom-card {
        margin-bottom: 1.6rem;
        align-items: start;
        padding: 24px;
        .card-title {
            font-size: 24px;
            font-weight: 500;
            color: $font-color;
            margin-bottom: .3rem;
        }

        .job-info-list {
            list-style: none;
            padding: 0;
            margin: 0;
            @include flex($direction: column, $align: flex-start, $gap: .5rem);

            li {
                @include flex($gap: 1rem);
                font-size: $size-md;
                font-weight: 400;
                color: $desc-color;
                .icon-box {                  
                    svg {
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }

        .bullet-list {
            list-style: none;
            padding: 0;
            margin: 0;
            @include flex($direction: column, $align: flex-start, $gap: .1rem);

            li {
                position: relative;
                padding-inline-start: 1.5rem;
                font-size: 16px;
                color: $desc-color;
                line-height: 1.6;

                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 10px;
                    width: 6px;
                    height: 6px;
                    background: $desc-color;
                    border-radius: 50%;
                }
            }
        }
    }
}
