// abstracts
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.main_integration {
  .card-item {
    padding: 6px 12px;
    border-radius: 8px;
    border: var(--stroke-weight-1, 1px) solid rgba(0, 0, 0, 0.10);
    background: rgba(255, 255, 255, 0.20);
    text-align: center;
    @include flex($direction: column, $justify: center, $align: center, $wrap:nowrap, $gap: .5rem);
    &:hover {
        transform: translateY(-5px);
    }
    .card-icon {
      height: 27px; width: 27px;
    }
    .card-title {
      font-size: $size-sm; font-weight: 500;
      color: $secondary-color;
    }
  }
}
.main_sevices_managment {
  .grid-2 {
     align-items: center;
  }
}
.story_no_section {
  padding: 40px 20px;
  border-radius: 32px;
  background-color: $light-primary-color;
  .container {
    @include flex($direction: column, $justify: center, $wrap:nowrap, $gap: 1rem);
  }
  .number-item {
    @include flex($justify: center, $align: center, $wrap:nowrap, $gap: 1rem);
      .number {
        font-size: 32px;
        font-weight: 500;
        color: $primary-color;
        display: block;
      }
      .title  {
        display: block;
        max-width: 250px;
      }
    
  }
}
////////////// main_sevices //////////////
@include card-robot-variant("products");
@include card-robot-variant("integration");

