@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.custom-btn {
    @include flex($justify: flex-start);
    border-radius: 8px;
    padding: 12px 20px;
    font-weight: 500;
    font-size: $size-sm;
    border: 0px;
    cursor: pointer;
}

.btn-secondary {
  background-color: $secondary-color;
  color: white;
}

.description {
    font-size: 16px;
    font-weight: 500;
    color: $desc-color;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(47%, 1fr));
    gap: 1rem;
}

.grid-3 {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
}
.full-width {
  grid-column: 1 / -1;
}
.custom-label {
    display: block;
    color: $desc-color;
    font-size: $size-sm;
    font-weight: 500;
    margin-bottom: 0.4rem; 
}
.custom-form {
    .form-label {
       @extend .custom-label;
    }

    .form-control-custom {
        width: 100%;
        background-color: $light-gray-color;
        border: 1px solid rgba(255, 255, 255, 0.15);
        border-radius: 8px;
        padding: .8rem .8rem;
        font-size: 16px;
        color: $font-color;
        outline: none;
        transition: $transition-base;

        &::placeholder {
            color: #A0A0A0;
            font-size: $size-xs;
            font-weight: 400;
        }

        &:focus {
            background-color: #f2f2f2;
            box-shadow: 0 0 0 1px rgba($secondary-color, 0.5);
        }
    }

    textarea.form-control-custom {
        resize: none;
        height: auto;
    }
}
.gap-sm {
  gap: .8rem;
}
.gap-md {
  gap: 2rem;
}
// media query
@media screen and (max-width: $media-md) {
    .grid-2 { 
        grid-template-columns: 1fr; 
    }

    $main-inline-padding: clamp(1rem, 3vw, 3rem);
}
@media screen and (max-width: $media-sm) {
    .grid-3 { 
        grid-template-columns: 1fr; 
    }
}