@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;


.custom-label {
    display: block;
    color: $desc-color;
    font-size: $size-sm;
    font-weight: 500;
    margin-bottom: 0.4rem; 
}
.custom-form {
    .form-label {
       @extend .custom-label;
    }

    .form-control-custom {
        width: 100%;
        background-color: $light-gray-color;
        border: 1px solid rgba(255, 255, 255, 0.15);
        border-radius: 8px;
        padding: .8rem .8rem;
        font-size: 16px;
        color: $font-color;
        outline: none;
        transition: $transition-base;

        &::placeholder {
            color: #A0A0A0;
            font-size: $size-xs;
            font-weight: 400;
        }

        &:focus {
            background-color: #f2f2f2;
            box-shadow: 0 0 0 1px rgba($secondary-color, 0.5);
        }
    }

    textarea.form-control-custom {
        resize: none;
        height: auto;
    }
}
