@use '../abstracts/variables' as *;
@use '../base/typography' as *;

//////////// Global Base Style //////////////
*, *::before, *::after {
    font-family: inherit;
}

body {
    font-family: $font-family;
    position: relative;
    color: $font-color;
    margin: 0;
    padding: 0;
    min-width: 350px;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
// Wrapper & Main text
.site-wrapper {
    min-height: 100vh;
}  
main {
    max-width: 100%;
}
section {
    padding-inline: $main-inline-padding;
    position: relative;
    padding-block: 2rem;
}
.form-control:focus {
    box-shadow: none;
    border: 0px;
}
    // Custom scrollbar
    *::-webkit-scrollbar {
        width: 6px;
    }
    *::-webkit-scrollbar-track {
        background: #ccc;
        border-radius: 10px;
    }
    *::-webkit-scrollbar-thumb {
        background: $primary-color;
        border-radius: 10px;
    }
    *::-webkit-scrollbar-thumb:hover {
        background: #ccc;
    }